@use "../../styles/variables";

$--padding-horizontal: variables.$global-padding-component-horizontal;
$--padding-vertical: variables.$global-padding-component-vertical;

$--width-size-s: auto;
$--width-size-l: 100%;

.input{
  display: block;
  font-size: var(--font-size);
  outline-color: var(--black_a100);
  border: variables.$global-border-black20;
  border-radius: variables.$global-border-radius;
  padding: $--padding-vertical $--padding-horizontal;

  &-size_S{
    width: variables.$global-width-component-size-m;
  }
  &-size_L{
    width: $--width-size-l;
  }
}