@use "../../styles/variables";

.input{
  display: block;
  font-size: var(--font-size);
  outline-color: var(--black_a100);
  border: 1px solid var(--black_a20);
  font-size: 16px;
  line-height: 18px;
  border-radius: variables.$global-border-radius;
  padding: variables.$global-padding-component-vertical variables.$global-padding-component-horizontal;

  &-size_S{
    width: variables.$global-input-width-size-s;
  }
  &-size_L{
    width: variables.$global-input-width-size-l;
  }
}