@use '../../styles/mixins';

.stripe{
  @include mixins.flexible(space-between);
  border: 1px solid black;
  padding: 10px 20px;
  margin-bottom: 25px;
}

.stripe:last-child{
  margin-bottom: 0;
}


.title{
  font-weight: bold;
}

.user{
  font-style: italic;
}