@use '../../styles/variables';
@use '../../styles/mixins';

$--stripe-padding-vertical: variables.$global-padding-component-vertical;
$--stripe-padding-horizontal: variables.$global-padding-component-horizontal;

.stripe * {
  @include mixins.flexible(unset, center);
}

.stripe {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 55% 45%;
  background: inherit;
  padding: $--stripe-padding-vertical $--stripe-padding-horizontal;
  box-shadow: var(--box-shadow);
  font-size: variables.$global-stripe-font-size;
  line-height: variables.$global-stripe-line-height;
  border-radius: variables.$global-stripe-border-radius;
}

.infoGroup{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: right;
}

.titleWrapper{
  display: flex;
  align-items: center;
}

.username, .username_isLoading{
  margin-right: 1em;
}

.title_isLoading{
  @include mixins.is-loading(variables.$global-loading-title-width);
}

.username_isLoading, .date_isLoading, .views_isLoading{
  @include mixins.is-loading(variables.$global-loading-span-width)
}