@use "../../styles/variables";


$--padding-horizontal: variables.$global-button-padding-horizontal;
$--padding-vertical: variables.$global-button-padding-vertical;

$--font-size: variables.$global-font-size;
$--line-height: variables.$global-line-height;

.button {
  display: block;
  background: var(--black_a100);
  color: #FFFFFF;
  line-height: $--line-height;
  font-size: $--font-size;

  &-size_S {
    border-radius: variables.$global-button-border-radius-size-s;
    padding: $--padding-vertical $--padding-horizontal;
    font-size: calc($--font-size * 0.9);
    line-height: calc($--font-size * 0.9);
  }

  &-size_M {
    border-radius: variables.$global-button-border-radius-size-ml;
    padding: $--padding-vertical calc($--padding-horizontal * 2);
  }

  &-size_L {
    border-radius: variables.$global-button-border-radius-size-ml;
    padding: $--padding-vertical 0;
    width: 100%;
  }

  &_isLoading {
    color: rgba(0, 0, 0, 0);
  }
}