@use "../../styles/variables";

$--width-size-sm: auto;
$--width-size-l: 100%;

$--padding-horizontal-size-s: 1em;
$--padding-horizontal-size-m: 2.5em;

$--border-radius-size-s: 18px;
$--border-radius-size-ml: variables.$global-border-radius;

$--padding-vertical: variables.$global-padding-component-vertical;

.button {
  display: block;
  font-size: var(--font-size);
  padding: variables.$global-padding-component-vertical 0;
  color: white;
  background: black;

  &_isLoading{
    height: calc($--padding-vertical * 2 + 1em);
    width: 3.7em !important;
  }

  &-size_S {
    width: $--width-size-sm;
    font-size: calc(var(--font-size) * 0.85);
    padding-right: $--padding-horizontal-size-s;
    padding-left: $--padding-horizontal-size-s;
    border-radius: $--border-radius-size-s;
  }

  &-size_M {
    width: $--width-size-sm;
    padding-right: $--padding-horizontal-size-m;
    padding-left: $--padding-horizontal-size-m;
    border-radius: $--border-radius-size-ml;
  }

  &-size_L {
    width: $--width-size-l;
    border-radius: $--border-radius-size-ml;
  }

}