@use '../../styles/mixins';

.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--black_a50);
  @include mixins.flexible();
}

.panel{
  background: #FFFFFF;
}

.button{
  display: flex;
  background: none;
  border: none;
  margin-left: auto;
}

