@use '../../styles/mixins';

.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--black_a50);
  @include mixins.flexible();
}

.panel{
  background: #FFFFFF;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.buttonClose{
  display: flex;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-150%, 50%);
  background: none;
  border:none;

  svg{
    width: 15px;
    height: 15px;
  }
}