@use '../../styles/mixins';
@use '../../styles/variables';

$--fill-color: var(--black_a100);
$--size-svg-button: 8px;

$--border-radius: 18px;
$--width: variables.$global-width-component-size-m;

.pill {
  font-size: var(--font-size);
  @include mixins.flexible();
  border: variables.$global-border-black20;
  border-radius: $--border-radius;
  background: inherit;
  width: $--width;
  cursor: pointer;

  svg {
    display: flex;
    width: $--size-svg-button;
    margin-left: 20px;
  }

  span{
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    padding: variables.$global-padding-component-vertical variables.$global-padding-component-horizontal;
  }

  path {
    fill: $--fill-color;
    stroke: $--fill-color;
  }

  &_toggled {
    border: var(--border-width) solid var(--black_a100);
  }
}

