@use 'variables';
@use 'mixins';
@import "normalize";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Ubuntu';
}

html, body, #root{
  min-height: 100vh;
}

html,body{
  background: variables.$global-background-color;
}

#root{
  @include mixins.flexible(flex-start, stretch, column);
}

:root {
  --black_a05: rgba(0, 0, 0, 0.05);
  --black_a10: rgba(0, 0, 0, 0.10);
  --black_a20: rgba(0, 0, 0, 0.20);
  --black_a50: rgba(0, 0, 0, 0.50);
  --black_a80: rgba(0, 0, 0, 0.80);
  --black_a100: rgba(0, 0, 0, 1);
}

:root{
  --border-width: 1px;
  --border-solid: var(--border-width) solid var(--black_a05);
  --font-size: 14px;
  --box-shadow: 0 0px 20px 1px var(--black_a10);
}

.container{
  width: 100%;
  padding: variables.$global-container-padding-vertical variables.$global-container-padding-horizontal;
  max-width: variables.$global-container-max-width;
  margin: variables.$global-container-margin-vertical variables.$global-container-margin-horizontal;
}

.article{
  &-block {

  }

  &-title{
    text-align: center;
    margin: 2em 0 2.5em 0;
    font-size: 2.5em;
  }

  &-paragraph{
    font-size: 1.7em;
  }
  &-paragraph{
    display: block;
    text-indent: 2em;
    line-height: 1.9em;
    text-align: justify;
    margin-bottom: 1em;
    color: var(--black_a80);
  }
}