$global-padding-component-vertical: 10px;
$global-padding-component-horizontal: 1em;

$global-font-size: 14px;

$global-border-black20: var(--border-width) solid var(--black_a20);

$global-border-radius: 5px;

$global-width-component-size-m: 170px;

$global-card-height: 180px;
$global-card-margin: 15px;
$global-card-summary-height: calc($global-card-height + $global-card-margin * 2);
