@use '../../styles/mixins';
@use '../../styles/variables';

.form {
  width: variables.$global-form-width;
  height: variables.$global-form-height;

  padding: 0 variables.$global-form-padding-horizontal;
}

.form input:not(:first-of-type){
  margin-bottom: 15px;
}
.form input:first-of-type{
  margin-bottom: 7px;
}

.form button{
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
}
.logo {
  @include mixins.flexible();
  margin: variables.$global-logo-margin-vertical 0;
}

.logo svg{
  height: variables.$global-logo-height;
}

.error {
  color: #FF0000;
}

