@use '../../styles/mixins';
@use '../../styles/variables';

$--width: 310px;
$--margin-bottom: 8px;

.form {
  width: $--width;
  padding: calc($--margin-bottom * 2);
}
.logo {
  @include mixins.flexible();
  margin-bottom: calc($--margin-bottom * 4);
}
.error{
  padding: $--margin-bottom 0;
  color: #FF0000;
}

.button:first-of-type, .input{
  margin-bottom: calc($--margin-bottom * 2);
}

