@use '../../styles/mixins';
@use '../../styles/variables';

.container{
  max-width: 80%;
  margin: variables.$global-header-dimension auto 0 auto;
}

.badge{
  margin-top: 8em;
  margin-bottom: 5em;
}