@use "../../styles/mixins";
@use "../../styles/variables";

.header{
  background: variables.$global-background-color;
  border-radius: 0 0 variables.$global-header-border-radius variables.$global-header-border-radius;
  box-shadow: var(--box-shadow);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.main{
  flex-grow: 1;
  @include mixins.flexible(flex-start, stretch, column)
}