@use '../../styles/variables';

.swiper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  align-content: center;
  align-items: center;
  grid-column-gap: variables.$global-swiper-column-gap;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  min-height: variables.$global-swiper-dimension;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}