@use "../../styles/mixins";
@use "../../styles/variables";

.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: variables.$global-header-padding-vertical variables.$global-header-padding-horizontal;
}

.wrapper a{
  display: flex;
}

.logo{
  @include mixins.flexible();
  justify-self: center;
}

.logo svg{
  height: variables.$global-logo-height;
}

.button{
  justify-self: left;
}

.avatar{
  justify-self: right;
}
