@use '../../styles/variables';
@use '../../styles/mixins';

/*
INNER STYLES
 */

$--card-width: 350px;
$--card-height: variables.$global-card-height;
$--card-margin: variables.$global-card-margin;
$--card-border-radius: 30px;

$--card-background: #FFFFFF;
$--card-box-shadow: var(--box-shadow);
$--card-font-size: var(--font-size);

$--card-inner-padding-horizontal: 30px;
$--card-inner-padding-vertical: calc($--card-inner-padding-horizontal * 0.33);


.card {
  @include mixins.flexible(center, stretch, column);

  width: $--card-width;
  height: $--card-height;

  background: $--card-background;
  border-radius: $--card-border-radius;
  box-shadow: $--card-box-shadow;
  font-size: $--card-font-size;
  margin: $--card-margin;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: $--card-inner-padding-vertical $--card-inner-padding-horizontal;
  border-bottom: var(--border-solid);
}

.content {
  @include mixins.flexible();
  flex-grow: 1;
  padding: $--card-inner-padding-vertical $--card-inner-padding-horizontal;
  font-size: var(--font-size);
}

.buttonGroup {
  @include mixins.flexible(flex-end);
  padding: 0 $--card-inner-padding-horizontal $--card-inner-padding-vertical $--card-inner-padding-horizontal;
}

.title {
  display: -webkit-box;
  text-align: center;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &_isLoading {
    @include mixins.is-loading(100%);
  }
}

.date_isLoading, .user_isLoading {
  @include mixins.is-loading(4em);
}

.date_isLoading, .date {
  justify-self: left;
}

.user_isLoading, .user {
  justify-self: right;
}