@use '../../styles/variables';
@use '../../styles/mixins';

.card {
  @include mixins.flexible(center, stretch, column);

  width: variables.$global-card-width;
  height: variables.$global-card-height;

  background: inherit;
  border-radius: variables.$global-card-border-radius;
  box-shadow: var(--box-shadow);
  font-size: variables.$global-font-size;
  line-height: variables.$global-line-height;
  margin: variables.$global-card-margin-horizontal;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  border-bottom: var(--border-solid);
  padding: variables.$global-card-inner-padding-vertical variables.$global-card-inner-padding-horizontal;
}

.content {
  @include mixins.flexible();
  flex-grow: 1;
  font-size: var(--font-size);
  padding: 0 variables.$global-card-inner-padding-horizontal;
}

.buttonGroup {
  padding: variables.$global-card-inner-padding-vertical variables.$global-card-inner-padding-horizontal;
  @include mixins.flexible(flex-end);
}

.title {
  @include mixins.line-limit(2);
  text-align: center;
  line-height: variables.$global-title-line-height;

  &_isLoading{
    @include mixins.is-loading(variables.$global-loading-title-width);
  }
}

.date_isLoading, .user_isLoading{
  @include mixins.is-loading(variables.$global-loading-span-width);
}

.date, .date_isLoading {
  justify-self: left;
}

.user, .user_isLoading {
  justify-self: right;
}