@use "../../styles/mixins";
@use "../../styles/variables";

$--width-size-s: variables.$global-avatar-size-s;
$--width-size-m: variables.$global-avatar-size-m;
$--width-size-l: variables.$global-avatar-size-l;


$--border-radius: 50%;
$--background: var(--black_a100);


.avatar{
  border-radius: $--border-radius;
  background: $--background;

  &-size_S{
    width: $--width-size-s;
    height: $--width-size-s;
  }

  &-size_M{
    width: $--width-size-m;
    height: $--width-size-m;
  }

  &-size_L{
    width: $--width-size-l;
    height: $--width-size-l;
  }
}