$font-size: 18px;
$letter-spacing: 0px;

.paragraph {
  font-family: "Arial";

  font-size: $font-size;
  letter-spacing: $letter-spacing;

  text-align: justify;
  line-height: 1.4;

  text-indent: 24px;
}
