@use 'styles/variables';
@import "styles/normalize";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  font-weight: 500;
}

:root {
  --black_a05: rgba(0, 0, 0, 0.05);
  --black_a10: rgba(0, 0, 0, 0.10);
  --black_a20: rgba(0, 0, 0, 0.20);
  --black_a50: rgba(0, 0, 0, 0.50);
  --black_a100: rgba(0, 0, 0, 1);
}

:root{
  --border-width: 1px;
  --font-size: 14px;
  --box-shadow: 0 0px 20px 1px var(--black_a10);
}

.container{
  padding: 0 40px;
  max-width: 1440px;
  margin: auto;
}